<div class="page-container">
  <div class="forgot-password-card">
    <div class="text-forgot-pass">
      Recuperar contraseña
    </div>

    <div class="form-control">
      <input 
        class="input-field"
        [(ngModel)]= "email" 
        id="email-input" 
        type="email" 
        name="email" 
        required
      />
      <label for="email-input">
        <span style="transition-delay:0ms">E</span>
        <span style="transition-delay:50ms">m</span>
        <span style="transition-delay:100ms">a</span>
        <span style="transition-delay:150ms">i</span>
        <span style="transition-delay:200ms">l</span>
      </label>
    </div>

    <button 
      (click)="onForgotPassword()" 
      [disabled]="isLoading || !email"
    >
      <span *ngIf="!isLoading">Enviar correo</span>
      <span *ngIf="isLoading">Enviando...</span>
    </button>

    <div class="validate-code">
      <a routerLink="/validate-code">Confirmar el codigo</a>
    </div>
    
    <p *ngIf="mensaje" class="message-text" [ngClass]="tipoMensaje">
      {{ mensaje }}
    </p>
  </div>
</div>